template(name="accessDenied")
	div.access-denied.jumbotron
		h2(style="font-size: 2.7em;") Access Denied
		p You are not allowed to access this page.

//- <template name="accessDenied">
//-   <div class="access-denied jumbotron">
//-     <h2>Access Denied</h2>
//-     <p>You can't get here! Please log in.</p>
//-   </div>
//- </template>