template(name="header")
  .row.clearfix
    .col-md-12.column
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="{{pathFor 'postsList'}}") Discover Meteor
          ul.nav.navbar-nav.navbar-right
            li.navbar-brand
               +loginButtons

//- <template name="header">
//-   <nav class="navbar navbar-default" role="navigation">
//-     <div class="container-fluid">
//-       <div class="navbar-header">
//-         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
//-           <span class="sr-only">Toggle navigation</span>
//-           <span class="icon-bar"></span>
//-           <span class="icon-bar"></span>
//-           <span class="icon-bar"></span>
//-         </button>
//-         <a class="navbar-brand" href="{{pathFor 'postsList'}}">Microscope</a>
//-       </div>
//-       <div class="collapse navbar-collapse" id="navigation">
//-         <ul class="nav navbar-nav">
//-           <li><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li>
//-         </ul>
//-         <ul class="nav navbar-nav navbar-right">
//-           {{> loginButtons}}
//-         </ul>
//-       </div>
//-     </div>
//-   </nav>
//- </template>